### importing necessary libraries

In [1]:
import numpy as np
import pandas as pd

### extraction layer

In [2]:
yanki_df = pd.read_csv(r'C:\Users\back2\Desktop\YANKI ECOMMERCE\YANKI-ECOMMERCE-CASE_STUDY\DATASET\Rawdata\yanki_ecommerce.csv')

In [4]:
# to view your rawdata
yanki_df.head()

,Order_ID,Customer_ID,Customer_Name,Product_ID,Product_Name,Brand,Category,Price,Quantity,Total_Price,Order_Date,Shipping_Address,City,State,Country,Postal_Code,Email,Phone_Number,Payment_Method,Transaction_Status
0,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
1,NaN,NaN,NaN,64b689a8-bf03-47d2-a5cc-0723baeb1606,major,Haynes PLC,perfume,52.34,2,104.68,2020-05-27 14:20:38.292975,"1648 Brown Bridge Apt. 846\nCaitlinland, MI 57992",Davidstad,Utah,China,50247,karen64@example.com,001-217-511-0290x8262,Credit Card,completed
2,e32af09a-b6ab-497e-af3a-331e4d4ed6e7,e0d6cb3c-c4b0-4cfe-8225-b65d094d2424,Dominic Buchanan,2ef6e8fa-6a36-4515-b1c2-a0a700abf386,despite,"Lawson, Stone and Campos",perfume oil,250.57,2,501.14,2020-03-06 06:49:07.272117,"PSC 2224, Box 2284\nAPO AP 65880",Jordanborough,Arkansas,Kuwait,27879,margaret97@example.com,259.603.6134,Debit Card,completed
3,86eb8859-14ab-4d4e-9267-c5826f4e0c8e,fa3ca35a-5540-404b-a7eb-9001cdcbd840,Daniel Allen,3ba38e01-f8e7-4af2-9246-87ef0961d4f5,sea,Washington Group,perfume oil,179.81,6,1078.86,2020-07-31 07:09:30.231510,"83909 Johnson Mall\nTranberg, MS 99017",Lake Ginatown,Georgia,Saint Vincent and the Grenadines,39336,angela55@example.com,+1-869-659-4272x982,Credit Card,completed
4,7379b560-8897-4623-92a2-523ddcdc43a1,7ad4de53-e6d7-4cd3-99b8-13fb70fe7a34,Daniel Schmidt,a58c53bd-a34b-4541-b926-bec9eb84cac2,suddenly,Rodgers Ltd,perfume oil,600.55,7,4203.85,2021-05-11 04:33:09.707443,"82101 Johnson Flat\nWest Ryan, MS 29075",Sarahville,Ohio,France,30845,wayne59@example.org,292.840.0975x724,PayPal,pending

In [5]:
# to view the structure of the data
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1020 non-null   object
 4   Product_Name        1020 non-null   object
 5   Brand               1020 non-null   object
 6   Category            1020 non-null   object
 7   Price               1020 non-null   float64
 8   Quantity            1020 non-null   int64
 9   Total_Price         1020 non-null   float64
 10  Order_Date          1020 non-null   object
 11  Shipping_Address    1020 non-null   object
 12  City                1020 non-null   object
 13  State               1020 non-null   object
 14  Country             1020 non-null   object
 15  Postal_Code         1020 non-null   int64
 16  Email               1020 non-null   object
 17  Phone_Number        1020 non-null   object
 18  Payment_Method      1020 non-null   object
 19  Transaction_Status  1020 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 159.5+ KB

In [6]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')

### DATA CLEANING AND TRANSFORMATION

In [7]:
# DROP MISSING VALUES
yanki_df.dropna(subset = ['Order_ID', 'Customer_ID'], inplace = True)

In [10]:
yanki_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 2 to 1019
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order_ID            1000 non-null   object
 1   Customer_ID         1000 non-null   object
 2   Customer_Name       1000 non-null   object
 3   Product_ID          1000 non-null   object
 4   Product_Name        1000 non-null   object
 5   Brand               1000 non-null   object
 6   Category            1000 non-null   object
 7   Price               1000 non-null   float64
 8   Quantity            1000 non-null   int64
 9   Total_Price         1000 non-null   float64
 10  Order_Date          1000 non-null   datetime64[ns]
 11  Shipping_Address    1000 non-null   object
 12  City                1000 non-null   object
 13  State               1000 non-null   object
 14  Country             1000 non-null   object
 15  Postal_Code         1000 non-null   int64
 16  Email               1000 non-null   object
 17  Phone_Number        1000 non-null   object
 18  Payment_Method      1000 non-null   object
 19  Transaction_Status  1000 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(15)
memory usage: 164.1+ KB

In [9]:
# CONVERT ORDER DATE FROM STRING TO DATETIME OBJECT
yanki_df['Order_Date'] = pd.to_datetime(yanki_df['Order_Date'])

In [ ]:
# CREATING THE TABLES
# CUSTOMERS TABLE
Customer_df = yanki_df[['Customer_ID', 'Customer_Name', 'Email', 'Phone_Number']].copy().drop_duplicates().reset_index(drop=True)
Customer_df.head()

In [ ]:
# PRODUCT TABLE
Product_df = yanki_df[['Product_ID', 'Product_Name', 'Brand', 'Category', 'Price',]].copy().drop_duplicates().reset_index(drop=True)
Product_df.head()

In [ ]:
## SHIPPING ADDRESS TABLE
Shipping_Address_df = yanki_df[['Customer_ID', 'Shipping_Address', 'City', 'State', 'Country','Postal_Code',]].copy().drop_duplicates().reset_index(drop=True )
Shipping_Address_df.head()
# how to add shipping_ID which is the created primary key as a column in the table
Shipping_Address_df.index.name = 'Shipping_ID'
Shipping_Address_df = Shipping_Address_df.reset_index()
Shipping_Address_df.head()

In [ ]:
# ORDER TABLE
Order_df = yanki_df[['Order_ID', 'Customer_ID','Product_ID', 'Quantity', 'Total_Price','Order_Date',]].copy().drop_duplicates().reset_index(drop=True )
Order_df.head()

In [ ]:
Payment_Method_df = yanki_df[['Order_ID','Transaction_Status', 'Payment_Method',]].copy().drop_duplicates().reset_index(drop=True )
Payment_Method_df.head()

In [27]:
# SAVE THE TABLES TO CSV
Customer_df.to_csv(r'DATASET\Cleaned_data\Customers.csv', index=False)
Product_df.to_csv(r'DATASET\Cleaned_data\Product.csv', index=False)
Shipping_Address_df.to_csv(r'DATASET\Cleaned_data\Shipping_Address.csv', index=False)
Order_df.to_csv(r'DATASET\Cleaned_data\Order.csv', index=False)
Payment_Method_df.to_csv(r'DATASET\Cleaned_data\Payment_Method.csv', index=False)

In [12]:
yanki_df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Name', 'Product_ID',
       'Product_Name', 'Brand', 'Category', 'Price', 'Quantity', 'Total_Price',
       'Order_Date', 'Shipping_Address', 'City', 'State', 'Country',
       'Postal_Code', 'Email', 'Phone_Number', 'Payment_Method',
       'Transaction_Status'],
      dtype='object')